Makefile
*/Makefile
util/controller_get_config
mk.sh
*~
autom4te.cache/
config.log
config.status
TAGS
controller/docker/src
controller/docker/yang
test/site.sh
test/py

src/controller.xml

# purged from history with git filter-repo
templates-min.gif
demo-min.gif

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
